@import '../global.scss';

.header {
  background-color: $matteMediumPurple;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 100;
  width: 100%;
}

.header_icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}

.header_center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid #8d93ab;
  border-radius: 999px;

  > input {
    border: none;
    width: 250px;
    outline-width: 0;
    padding: 10px;
    background-color: $matteMediumPurple;
  }
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}
